html, body{
    height: 100%;
}
#cover{
    background: #222 url('img/intro-bg.jpg') bottom center no-repeat;
    height: 100%;
}
.navbar-custom {
    background-color:transparent;
    color:#ffffff;
    border-radius:0;
    //font-family: cursive;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > li > a:hover {
    background-color: rgb(0,0,0.7);
    color: #222;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.cover-caption{
    text-align: center;
    padding-top: 50px;
    color: white; 
}
#display{
    font-size: 2.5em;
    //font-family: cursive;
}
#display-1{
    font-size: 1.5em;
    //font-family: cursive;
}
.fa.fa-size{
    font-size: 50px;
	color: aliceblue;
	white-space: normal;
}
.content{
    
    
    
}
.boxShadow{
    box-shadow: 0px 8px 3px #222;
    
}
.jumbotron{
    background-color: rgba(0,0,0,0.7) !important;
}
.footer-heading{
    text-transform: uppercase;
    font-size: 1.0em;
    color: #fff;
}
#left-footer{
    float: left;
    border-right: 2px solid #fff;
    //width: 300px;
    height: 150px;
    
}
.footer-list{
    list-style: none;
}
.copy{
    color: #fff;
    
}
@media(max-width: 500px){
    #left-footer{
        display: none;
    }
}
